

.tabella2{
  width: 100%;
	height: 25%;
}
.foto{
  width: auto;
  height: auto;
  max-width: 100%;
}
.testo{
  width:auto;
  height: auto;
  font-family: Josefin Sans;
  font-size: 1.5vw;
}

.menul {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    margin: 0;
	padding:0px;
    padding-left:0px;
    list-style: none;
	width:100%;
	float:left;
	background-color:green;
	}

	
.menul a {
	
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    width: 150px;
	float:left;
    height: 50px;
    text-align: center;
	background-color: green;
}

.menul a:hover {
	background-color: #115c12;
}
